<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel [title]="title" type="primary">
    <ng-template ngbPanelContent>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" (click)="loadPage(pageNumber - 1)">Previous</a></li>
          <li *ngFor="let page of pages" class="page-item" [class.active]="page.isCurrent"><a class="page-link" (click)="loadPage(page.pageNumber)">{{ page.pageNumber }}</a></li>
          <li class="page-item"><a class="page-link" (click)="loadPage(pageNumber + 1)">Next</a></li>
        </ul>
      </nav>
      <table class="table table-striped" *ngIf="issues">
        <thead>
          <tr>
            <th>Assignee</th>
            <th>Reviewer</th>
            <th>Description</th>
            <th>DueDate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!issues">
            <td colspan="4">There are no issues to display.</td>
          </tr>
          <tr *ngFor="let issue of issues">
            <td><a [routerLink]="['/issues/edit']">{{ issue.assignee.fullname }}</a></td>
            <td>{{ issue.reviewer.fullname }}</td>
            <td>{{ issue.description }}</td>
            <td>{{ issue.dueDate | date:'shortDate' }}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
